/* general tags */

* {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
/* list tags */

.container {
    text-align: center;
    background-color: lightgoldenrodyellow;
    margin: 0 50vh;
}

ul {
    list-style-type: none;
    }

.fa-check {
    color: green;
    margin: 10px;
}

.fa-times {
    color: red;
}

.bar {
    text-decoration: line-through;
}

.fas {
    border: 1px solid lightgray;
    padding: 5px;
}

button {
    background-color: lightgrey;
    border-radius: 20px;
    padding: 5px 25px;
}

input {
    border-radius: 50px;
    padding: 5px 25px;
    border-color: red;
}

